body{
    font-family: 'Times New Roman', Times, serif;
  }
  /* font of body text */
  header{
    background-color: rgb(62, 104, 194);
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
  /* header background color and other information such as where we wanted the text to be aligned */
  }
  label{
    font-size: 20px;
  }
  select{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  input{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  /* all of the boxed above show what customizations we made to our websites design */
  }
  button{
    background-color: rgb(64, 100, 217);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    margin-bottom: 10px;
  /* size, color, font of button (basically just customized to make the button look the way we wanted it to look ) */
  }
  .outputBox{
    padding: 10px;
    min-height: 160px;
    width: 60%;
    outline-color: rgb(48, 83, 196);
    outline-style: solid;
  /* output box where our image is displayed, we wanted it to have a border and be fairly large */
  }
  
